<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weichat.common.mapper.WxCallbackRouteMapper">

    <insert id="upsert" parameterType="com.weichat.common.entity.WxCallbackRoute" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO wx_callback_route (uuid, callback_url, create_time, update_time)
        VALUES (#{uuid}, #{callbackUrl}, NOW(), NOW())
        ON DUPLICATE KEY UPDATE
            callback_url = VALUES(callback_url),
            update_time = NOW()
    </insert>

    <select id="selectByUuid" resultType="com.weichat.common.entity.WxCallbackRoute">
        SELECT id, uuid, callback_url, create_time, update_time
        FROM wx_callback_route
        WHERE uuid = #{uuid}
        LIMIT 1
    </select>
</mapper>
